<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Đăng ký</title>
        <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e0e0e0;
        margin: 0;
        text-align: center;
        background-size: cover;
        background-position: center;
    }
    h1 {
        color: #333;
        font-size: 3em;
        font-weight: bold; 
        }
    h3{
        color: #FFFFFF!important;
    }
    form {
        padding: 20px;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        display: inline-block;
    }

    #photo-container {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping to next row */
        justify-content: center; /* Center align items */
        align-items: center; /* Center align items */
        overflow-y: auto;
        max-height: 400px;
    }
    #photo-container img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 5px; /* Add margin between images */
        border-radius: 5px;
    }
.note {
    margin-top: 20px;
    color: #777;
    font-style: italic;
}

.result-container {
            margin-top: 20px;
        }
        .result-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .result-item img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
        }
        .result-item .info {
            flex: 1;
        }
        .result-item .info h3 {
            margin: 0 0 5px;
            font-size: 18px;
            color: #333;
        }
        .result-item .info p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }

        .loading-spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #333;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            margin: 0 auto;
            margin-top: 20px;
            display: none; /* Ẩn ban đầu */
        }

        .loading-text {
            color: #333;
            font-size: 18px;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }



/* Style the scrollbar track */
        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Style the scrollbar thumb */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 6px;
        }

        /* Hover effect on the scrollbar thumb */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        /* Style the scrollbar buttons (arrows) */
        ::-webkit-scrollbar-button {
            display: none;
        }

        /* Style the scrollbar corner */
        ::-webkit-scrollbar-corner {
            background: #f1f1f1;
        }

        /* For Firefox */
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;

        


</style>
    </head>
    <body>
        <header class="text-gray-400 bg-gray-900 body-font">
            <div
                class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a
                    class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                    <img src="{{url_for('static', filename='images/logo.png')}}"
                        height="50" width="50" style="border-radius: 50%;" />
                    <span class="ml-3 text-xl">EduAttend</span>
                </a>
            </div>
        </header>
        <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-12 mx-auto">
                <div class="text-center mb-20">
                    <h1
                        class="sm:text-3xl text-2xl font-medium title-font text-white m-auto">EduAttend</h1>
                    <p
                        class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-400 text-opacity-80">Giúp
                        việc điểm danh sinh viên trở nên dễ dàng và hiệu quả
                        hơn.</p>
                    <div class="flex mt-6 justify-center">
                        <div
                            class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
                    </div>
                </div>
                <div
                    class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-check-circle"><path
                                    d="M9 11l3 3L22 4M2 12l5 5L9 15"></path></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Chính
                                Xác</h2>
                            <p class="leading-relaxed text-base">Hệ thống đảm
                                bảo việc điểm danh chính xác, giảm thiểu tình
                                trạng điểm danh sai.</p>
                        </div>
                    </div>
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-clock"><circle cx="12"
                                    cy="12" r="10"></circle><polyline
                                    points="12 6 12 12 16 14"></polyline></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Tiện
                                Lợi</h2>
                            <p class="leading-relaxed text-base">Tích hợp dễ
                                dàng với các thiết bị di động và máy tính
                                bảng.</p>
                        </div>
                    </div>
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-bar-chart-2"><line
                                    x1="18" y1="20" x2="18" y2="10"></line><line
                                    x1="12" y1="20" x2="12" y2="4"></line><line
                                    x1="6" y1="20" x2="6" y2="14"></line></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Báo
                                Cáo Chi Tiết</h2>
                            <p class="leading-relaxed text-base">Cung cấp các
                                báo cáo chi tiết về tình trạng điểm danh của
                                sinh viên.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-gray-400 bg-gray-900 body-font">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput">
                <button type="button" onclick="uploadImage()">Upload</button>
            </form>

        </section>
        <section>
            <div id="loading" class="loading-spinner"></div>
            <p id="loading-text" class="loading-text"></p>
        </section>
        <section class="body-font">
            <div class="bg-gray-900  px-5 py-12 mx-auto">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput"
                        class="hidden">
                    <div
                        class="flex flex-col sm:flex-row items-center justify-center gap-4">
                        <button type="button" onclick="startCamera()"
                            class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Sử
                            dụng Camera</button>
                        <button type="button" onclick="takeSnapshot()"
                            class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Chụp
                            Ảnh</button>
                    </div>
                </form>
                <div id="photo-container" class="mt-8"></div>
            </div>
        </section>

        <section class="text-gray-400 bg-gray-900 body-font">
    <div id="result" class="flex items-center justify-center h-96"></div>
</section>


        <footer class="text-gray-400 bg-gray-900 body-font">
            <div
                class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
                <div
                    class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                    <a
                        class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                        <img
                            src="{{url_for('static', filename='images/logo.png')}}"
                            height="50" width="50"
                            style="border-radius: 50%;" />
                        <span class="ml-3 text-xl">EduAttend</span>
                    </a>
                </div>
                <div
                    class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">DỰ
                            ÁN CỦA TÔI</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">PHẦN
                            MỀM ỨNG DỤNG</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">NGHIÊN
                            CỨU VÀ PHÁT TRIỂN</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">THỬ
                            NGHIỆM VÀ PHẢN HỒI</h2>
                    </div>
                </div>

            </div>
            <div class="bg-gray-800 bg-opacity-75">
                <div
                    class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                    <p
                        class="text-gray-400 text-sm text-center sm:text-left">©
                        2024 EduAttend —
                        <a href="#" class="text-gray-500 ml-1"
                            rel="noopener noreferrer"
                            target="_blank">@Check In</a>
                    </p>
                </div>
            </div>
        </footer>

        <script>
            function uploadImage() {
            var form = document.getElementById('uploadForm');
            var formData = new FormData(form);

            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];

            var reader = new FileReader();
            reader.readAsDataURL(file);

            reader.onload = function () {
                var base64Image = reader.result.split(',')[1];
                formData.append('imageBase64', base64Image);

                // Hiển thị loading
                var loading = document.getElementById('loading');
                var loadingText = document.getElementById('loading-text');
                loading.style.display = 'block';
                loadingText.innerText = 'Đang xử lý...';

                fetch('/compare', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    loadingText.style.display = 'none';
                    console.log(data);
                    let resultElement = document.getElementById('result');
                    resultElement.innerHTML = '';

                    if (data.match && data.matched_faces.length > 0) {
                        data.matched_faces.forEach(face => {
                            // Tạo phần tử div chứa thông tin kết quả mỗi khuôn mặt
                            let resultItem = document.createElement('div');
                            resultItem.classList.add('result-item');

                            // Tạo phần tử hình ảnh
                            let imgElement = document.createElement('img');
                            imgElement.src = face.target_image.url;

                            // Tạo phần tử thông tin
                            let infoElement = document.createElement('div');
                            infoElement.classList.add('info');
                            let titleElement = document.createElement('h3');
                            titleElement.innerText = face.target_image.name;
                            let similarityElement = document.createElement('p');
                            similarityElement.innerText = `Độ tương đồng: ${face.similarity.toFixed(2)}%`;

                            // Thêm các phần tử vào 'resultItem'
                            infoElement.appendChild(titleElement);
                            infoElement.appendChild(similarityElement);
                            resultItem.appendChild(imgElement);
                            resultItem.appendChild(infoElement);

                            // Thêm 'resultItem' vào phần tử 'result'
                            resultElement.appendChild(resultItem);
                        });
                    } else {
                        // Nếu không tìm thấy kết quả nào
                        let noResultElement = document.createElement('div');
                        noResultElement.innerText = 'Không tìm thấy kết quả nào';
                        noResultElement.classList.add('text-xl', 'text-white', 'p-8');
                        resultElement.appendChild(noResultElement);
                    }

                    // Ẩn loading sau khi nhận kết quả
                    loading.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Xử lý khi có lỗi
                    loadingText.innerText = 'Đã xảy ra lỗi!';
                    setTimeout(() => {
                        loading.style.display = 'none';
                    }, 2000); // Ẩn loading sau 2 giây nếu có lỗi
                });
            };

            reader.onerror = function (error) {
                console.error('Error:', error);
                // Xử lý khi có lỗi
            };
        }



        let videoStream = null;

    function startCamera() {
        const constraints = {
            video: true
        };

        navigator.mediaDevices.getUserMedia(constraints)
            .then(function(stream) {
                videoStream = stream;
                const video = document.createElement('video');
                video.setAttribute('autoplay', '');
                video.setAttribute('playsinline', '');
                video.setAttribute('id', 'camera');
                video.srcObject = stream;
                document.getElementById('photo-container').appendChild(video);

                const canvas = document.createElement('canvas');
                canvas.setAttribute('id', 'canvas');
                canvas.style.display = 'none';
                document.getElementById('photo-container').appendChild(canvas);
            })
            .catch(function(err) {
                console.error('Error accessing the camera: ', err);
            });
    }

    function takeSnapshot() {
    const video = document.getElementById('camera');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    video.srcObject.getVideoTracks().forEach(track => track.stop());

    // Convert canvas image to blob
    canvas.toBlob(function(blob) {
        const formData = new FormData();
        formData.append('file', blob, 'camera.jpg');

        // Display loading spinner
        const loading = document.getElementById('loading');
        const loadingText = document.getElementById('loading-text');
        loading.style.display = 'block';
        loadingText.innerText = 'Đang xử lý...';

        // Send image data to server for processing
        fetch('/compare', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            loading.style.display = 'none';
            console.log(data);
            loadingText.style.display = 'none';

            let resultElement = document.getElementById('result');
            resultElement.innerHTML = '';

            if (data.match && data.matched_faces.length > 0) {
                data.matched_faces.forEach(face => {
                    // Create result item element
                    let resultItem = document.createElement('div');
                    resultItem.classList.add('result-item');

                    // Create image element
                    let imgElement = document.createElement('img');
                    imgElement.src = face.target_image.url;

                    // Create info element
                    let infoElement = document.createElement('div');
                    infoElement.classList.add('info');
                    let titleElement = document.createElement('h3');
                    titleElement.innerText = face.target_image.name;
                    let similarityElement = document.createElement('p');
                    similarityElement.innerText = `Độ tương đồng: ${face.similarity.toFixed(2)}%`;

                    // Append elements
                    infoElement.appendChild(titleElement);
                    infoElement.appendChild(similarityElement);
                    resultItem.appendChild(imgElement);
                    resultItem.appendChild(infoElement);

                    // Append result item to result element
                    resultElement.appendChild(resultItem);
                });
            } else {
                // No matching result found
                let noResultElement = document.createElement('div');
                noResultElement.innerText = 'Không tìm thấy kết quả nào';
                noResultElement.classList.add('text-xl', 'text-white', 'p-8');
                resultElement.appendChild(noResultElement);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            loadingText.innerText = 'Đã xảy ra lỗi!';
            setTimeout(() => {
                loading.style.display = 'none';
            }, 2000); // Hide loading after 2 seconds on error
        });
    }, 'image/jpeg');
}


    function dataURItoBlob(dataURI) {
        const byteString = atob(dataURI.split(',')[1]);
        const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ab], { type: mimeString });
    }
    </script>

    </body>
</html>