<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../static/js/javascript.js"></script>
        <link href="../static/css/style.css" rel="stylesheet">
        <script>
            // JavaScript script in your HTML file
            document.addEventListener('DOMContentLoaded', () => {
                const userData = JSON.parse(localStorage.getItem('userData'));

                // Update user info in the header
                if (userData) {
                    const userInfoElement = document.getElementById('userInfo');
                    userInfoElement.textContent = `Xin chào, ${userData.username}`;
                } else {
                    // Redirect to login page or handle unauthorized access
                    window.location.href = '/login'; // Redirect to login page if user data is not available
                }

                // Logout functionality
                const logoutBtn = document.getElementById('logoutBtn');
                logoutBtn.addEventListener('click', () => {
                    localStorage.removeItem('userData'); // Remove user data from localStorage
                    window.location.href = '/login'; // Redirect to login page after logout
                });
            });
        </script>
        <title>Đăng ký</title>
    </head>
    <body>
        <header class="text-gray-400 bg-gray-900 body-font">
            <div
                class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a
                    class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                    <img src="{{url_for('static', filename='images/logo.png')}}"
                        height="50" width="50" style="border-radius: 50%;" />
                    <span class="ml-3 text-xl">EduAttend</span>
                </a>
                <nav
                    class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                    <span id="userInfo" class="text-gray-300 mr-4"></span>
                    <a id="logoutBtn" href="#"
                        class="mr-5 inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 text-white">Đăng
                        xuất</a> <!-- Nút logout -->
                </nav>
            </div>
        </header>
        <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-12 mx-auto">
                <div class="text-center mb-20">
                    <h1
                        class="sm:text-3xl text-2xl font-medium title-font text-white m-auto">EduAttend</h1>
                    <p
                        class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-400 text-opacity-80">Giúp
                        việc điểm danh sinh viên trở nên dễ dàng và hiệu quả
                        hơn.</p>
                    <div class="flex mt-6 justify-center">
                        <div
                            class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
                    </div>
                </div>
                <div
                    class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-check-circle"><path
                                    d="M9 11l3 3L22 4M2 12l5 5L9 15"></path></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Chính
                                Xác</h2>
                            <p class="leading-relaxed text-base">Hệ thống đảm
                                bảo việc điểm danh chính xác, giảm thiểu tình
                                trạng điểm danh sai.</p>
                        </div>
                    </div>
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-clock"><circle cx="12"
                                    cy="12" r="10"></circle><polyline
                                    points="12 6 12 12 16 14"></polyline></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Tiện
                                Lợi</h2>
                            <p class="leading-relaxed text-base">Tích hợp dễ
                                dàng với các thiết bị di động và máy tính
                                bảng.</p>
                        </div>
                    </div>
                    <div
                        class="p-4 md:w-1/3 flex flex-col text-center items-center">
                        <div
                            class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 mb-5 flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-bar-chart-2"><line
                                    x1="18" y1="20" x2="18" y2="10"></line><line
                                    x1="12" y1="20" x2="12" y2="4"></line><line
                                    x1="6" y1="20" x2="6" y2="14"></line></svg>
                        </div>
                        <div class="flex-grow">
                            <h2
                                class="text-white text-lg title-font font-medium mb-3">Báo
                                Cáo Chi Tiết</h2>
                            <p class="leading-relaxed text-base">Cung cấp các
                                báo cáo chi tiết về tình trạng điểm danh của
                                sinh viên.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center my-8">
            <label for="examSchedule">Chọn mã lịch thi:</label>
            <select id="examSchedule"
                class="rounded-md px-4 py-2 bg-gray-800 text-white">
                <option value>Chọn mã lịch thi</option>
            </select>
            <button onclick="getSelectedSchedule()"
                class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Xem
                chi tiết</button>
        </div>

        <section class="text-gray-400 bg-gray-900 body-font my-2">
            <div id="result-2"></div>
        </section>

        <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-12 mx-auto text-center">
                <!-- Nút chọn tùy chọn -->
                <button onclick="showUploadOption()"
                    class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Tải
                    lên tệp</button>
                <button onclick="showCameraOption()"
                    class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Sử
                    dụng camera</button>
            </div>
        </section>

        <!-- Phần tải lên tệp -->
        <section id="upload-file-section"
            class="text-gray-400 bg-gray-900 body-font hidden">
            <div class="container px-5 py-12 mx-auto">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput">
                    <button type="button" onclick="uploadImage()"
                        class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Tải
                        lên</button>
                </form>
            </div>
        </section>

        <!-- Phần sử dụng camera -->
        <section id="camera-section"
            class="text-gray-400 bg-gray-900 body-font hidden">
            <div class="container px-5 py-12 mx-auto">
                <div id="photo-container" class="mb-6"></div>
                <button type="button" onclick="startCamera()"
                    class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Bắt
                    đầu camera</button>
                <button type="button" onclick="takeSnapshot()"
                    class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Chụp
                    ảnh</button>
            </div>
        </section>

        <section>
            <div id="loading" class="loading-spinner hidden"></div>
            <p id="loading-text" class="loading-text hidden"></p>
        </section>

        <section class="text-gray-400 bg-gray-900 body-font">
            <div id="result"
                class="flex items-center justify-center h-96"></div>
        </section>

        <footer class="text-gray-400 bg-gray-900 body-font">
            <div
                class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
                <div
                    class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                    <a
                        class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                        <img
                            src="{{url_for('static', filename='images/logo.png')}}"
                            height="50" width="50"
                            style="border-radius: 50%;" />
                        <span class="ml-3 text-xl">EduAttend</span>
                    </a>
                </div>
                <div
                    class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">DỰ
                            ÁN CỦA TÔI</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">PHẦN
                            MỀM ỨNG DỤNG</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">NGHIÊN
                            CỨU VÀ PHÁT TRIỂN</h2>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2
                            class="title-font font-medium text-white tracking-widest text-sm mb-3">THỬ
                            NGHIỆM VÀ PHẢN HỒI</h2>
                    </div>
                </div>

            </div>
            <div class="bg-gray-800 bg-opacity-75">
                <div
                    class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                    <p
                        class="text-gray-400 text-sm text-center sm:text-left">©
                        2024 EduAttend —
                        <a href="#" class="text-gray-500 ml-1"
                            rel="noopener noreferrer"
                            target="_blank">@Check In</a>
                    </p>
                </div>
            </div>
        </footer>

    </body>
</html>